---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

// Prerender this page at build time
export const prerender = true

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout frontmatter={entry.data}>
  <article class="prose mx-auto">
    <h1 class="text-4xl">{entry.data.title}</h1>
    <Content />
  </article>
</MainLayout>
