---
import { getCollection } from "astro:content";
import orderBy from "lodash/orderBy";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";

// Prerender this page at build time
export const prerender = true;

const rawPosts = await getCollection("posts");
const posts = orderBy(rawPosts, ["data.publishedAt"], ["desc"]).filter(
  (post) => process.env.NODE_ENV === 'development' || !post.data.draft
);
---

<MainLayout title="Blog" description="Read articles about JavaScript, TypeScript, and web development by Fachri Hawari" class="max-w-[65ch]">
  <h1 class="text-3xl font-medium">Blog</h1>
  <ul class="mt-6">
    {
      posts.map((post) => (
        <li class="mb-4">
          <a href={`/posts/${post.slug}`}>
            <Card entry={post} path={`/posts/${post.slug}`} />
          </a>
        </li>
      ))
    }
  </ul>
</MainLayout>
