---
import { Image } from "astro:assets";
import mePicture from "../assets/img/me-square.jpg";
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Home" description="Personal site of Fachri Hawari, a FullStack JavaScript Instructor at Hacktiv8" class="h-[calc(100vh-65px)]">
	<div class="flex flex-col w-full md:flex-row-reverse items-center md:justify-between">
		<Image
			class="rounded-full mt-16 sm:mt-auto w-56 object-cover object-top"
			src={mePicture}
			alt="Fachri Hawari"
			width={224}
			height={224}
		/>

		<div
			class="py-8 md:pr-16 lg:py-0 flex flex-col justify-center"
		>
			<h1 class="text-4xl font-bold">Hello, I'm Fachri.</h1>
			<p class="mt-4">
				I am a <strong>FullStack JavaScript Instructor</strong> at
				<u>Hacktiv8</u>.
			</p>
			<p class="mt-4">
				I speak <u>JavaScript</u> & <u> TypeScript</u> and would love to share
				my knowledge with others.
			</p>
			<p class="mt-4">
				This website will serve as my <u>digital diary</u>, chronicling my
				journey in the realm of technology.
			</p>
		</div>
	</div>
</MainLayout>
