---
import { getCollection } from "astro:content";
import orderBy from "lodash/orderBy";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";

// Prerender this page at build time
export const prerender = true;

const rawProjects = await getCollection("projects");
const projects = orderBy(rawProjects, ["data.publishedAt"], ["desc"]);
---

<MainLayout
  title="Projects"
  description="Explore projects developed by Fachri Hawari, including web applications and tools"
  class="max-w-[65ch]"
>
  <h1 class="text-3xl font-medium">Projects</h1>
  <ul class="mt-6">
    {
      projects.map((project) => (
        <li class="mb-4">
          <a href={`/projects/${project.slug}`}>
            <Card entry={project} path={`/projects/${project.slug}`} />
          </a>
        </li>
      ))
    }
  </ul>
</MainLayout>
