<article class="mb-2">
  <h3 class="text-lg underline font-semibold">Google Chrome</h2>
  <p class="mt-1">
    Google Chrome is a web browser developed by Google, released in 2008. Chrome
    is the world's most popular web browser today!
  </p>
</article>
