---
interface Props {
  tags: string[]
  classes?: string
}

const { tags, classes } = Astro.props
---

<div class={`flex flex-row gap-2 flex-wrap ${classes}`}>
  {
    tags.map((tag) => (
      <span class="px-1 rounded-lg">
        #{tag}
      </span>
    ))
  }
</div>